<nav class='left-banner menu-items'>
  <ul>
    <h2><a href="/">Dashboard</a></h2>
    <hr>
    <li><a href="/balanceSheet">Balance Sheet</a></li>
    <hr>
  </ul>
</nav>


<script>
  $(document).ready(function(){
    $(".api-section").click(function(e) {
      e.target.classList.toggle("checked");
      $('#' + e.target.getAttribute('data-api')).toggleClass("open-nav");
      e.stopPropagation();
    });
  });
</script>