html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.horizontal_no_padding {
  padding-right: 0px;
  padding-left: 0px;
}

.error_color {
  color: red !important
}

.margin_bottom_zero {
  margin-bottom: 0px !important;
}

.margin_right_10 {
  margin-right: 10px !important;
}

.login_form {
  margin-top: 10px !important;
  margin-left: 10px !important;
}

.dashboard_form {
  margin: 20px !important;
}
.margin_top_30 {
  margin-top: 30px !important;
}

.bg_whitesmoke {
  background-color: whitesmoke !important;
}

@media all and (min-width: 480px) {

  .login_form {
    padding: 60px 0;
  }

  .login_form form {
    background-color: whitesmoke;
    margin: 0 auto;
    max-width: 600px;
    padding: 20px 20px 100px 20px !important;
  }
}
