<!doctype html>
<html>
<%- include('shared/head') -%>

<body>
  <%- include('shared/nav') -%>
  <div class='core-content'>
    <%- include('shared/header') -%>
    <div class='body-wrapper'>
      <div class='body-content'>
        <% if (getBalanceSheetReportTitle) { %>
        <p>Extracted Balance Sheet Report Title & Date: <%= getBalanceSheetReportTitle %></p>
        <% } %>
        <div>
          <label>Email</label>
          <input type="email" id="reportDateEmail" placeholder="Email of the user" />
        </div>
        <br />
        <div>
          <label>Report date</label>
          <input type="text" id="reportDateInput" placeholder="YYYY-MM-DD" />
        </div>
        <br />
        <!-- <div>
          <label for="reportTimeframe">Report Timeframe</label>
          <select name="reportTimeframe" id="reportTimeframeInput">
            <option value="MONTH">Monthly</option>
            <option value="QUARTER">Quarter</option>
            <option value="YEAR">Year</option>
          </select>
        </div> -->
        <br />
        <button onclick="{ extractBalanceSheet();}">Extract</button>
      </div>
    </div>
  </div>
  <script>
    function extractBalanceSheet() {
      let reportDateEmailHTMLElement = document.getElementById('reportDateEmail');
      let reportDateEmail = reportDateEmailHTMLElement ? reportDateEmailHTMLElement.value : undefined;
      let reportDateInputHTMLElement = document.getElementById('reportDateInput');
      let reportDate = reportDateInputHTMLElement ? reportDateInputHTMLElement.value : undefined;
      // let reportTimeframeHTMLElement = document.getElementById('reportTimeframeInput');
      // let reportTimeframe = reportTimeframeHTMLElement ? reportTimeframeHTMLElement.value : undefined;
      if (reportDate && reportDateEmail) {
        window.location.assign(`/balanceSheet/get?email=${reportDateEmail}&date=${reportDate}`)
      }
      else {
        window.alert('Provide a valid date and email')
      }
    }
  </script>
</body>

</html>